<% provide(:title, "Our Services") %>
<!--services-->
<section class="services">
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Our <cite>Services</cite>
</h1>
</div>



<div class="col-lg-4 col-md-4 border-style">
<div class="row">
<div class="col-md-5 no-rmargin "><i class="fa fa-code no-rmargin licon fright"></i></div>
<div class="col-md-7"><h2 class="heading2">Xhtml
<span>Markup</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>

<div class="col-lg-4 col-md-4  right-left-border ">
<div class="row">
<div class="col-md-5 no-rmargin"><i class="fa fa-html5  licon fright"></i></div>
<div class="col-md-7 no-lmargin "><h2 class="heading2">Web Design 

<span>& Development</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>

<div class="col-lg-4 col-md-4 border-style">
<div class="row">
<div class="col-md-5 no-rmargin"><i class="fa fa-shopping-cart no-rmargin  licon fright"></i></div>
<div class="col-md-7"><h2 class="heading2">Ecommerce 
<span>Solutions</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>

<div class="clearfix"></div>


<div class="col-lg-4 col-md-4 top-border border-style">
<div class="row">
<div class="col-md-5 no-rmargin"><i class="fa fa-paint-brush no-rmargin  licon fright"></i></div>
<div class="col-md-7"><h2 class="heading2">Graphic
<span>Design</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>

<link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
<div class="col-lg-4 col-md-4  top-left-rightborder">
<div class="row">
<div class="col-md-5 no-rmargin"><i class="fa fa-globe licon no-rmargin  fright"></i></div>
<div class="col-md-7"><h2 class="heading2">Digital 
<span>Marketing</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>

<div class="col-lg-4 col-md-4  top-border">
<div class="row">
<div class="col-md-5 no-rmargin"><i class="fa fa-pencil licon no-rmargin fright"></i></div>
<div class="col-md-7"><h2 class="heading2">Content 
<span>Writing</span></h2></div>
</div>
<p>One stop digital agency to strengthen your web presence online We create across the browsers/devices compatible websites. Website Design, Online Marketing & Mobile 
App Development </p>
</div>


</div>
<a href="/services" class="btnstyle text-center">See Our Full Services <i class="fa fa-long-arrow-right"></i>
</a>


</div>
</section>