 
     
  
  <table style="width:100%; color: black;">
    <tr>
         <td><%= cl_image_tag post.picture_url :transformation => [{:height => 80, :width => 150, :crop => "thumb", :secure => true, :radius => 0}] %></td>


        <p><td><%= link_to post.title, post_path(post) %></td></p>
    

 </tr>
   </table>   
<hr /> 
