 
     
  
  <table style="width:100%; color: black;">
    <tr>
         <td><%= cl_image_tag post.picture_url :transformation => [{:height => 100, :width => 180, :crop => "thumb", :secure => true, :radius => 0}] %></td>



        <p><td><%= link_to post.title, post_path(post) %>

        <p style='font-size: 10px; color: grey;'>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
        </td></p>
   

 </tr>
   </table>   
<hr /> 
