<div class="product-catagori-area">
              <div class="product-categeries">
                <h2 class="fa fa-bars"> Categories</h2>
                <div class="panel-group" id="accrodian">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-futbol-o"></i>  <a href="/tags/3">Sports</a>
                        <a class="collapsed" data-toggle="collapse" href="#colOne" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colOne">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-car"></i> Cars
                        <a class="collapsed" data-toggle="collapse" href="#colTwo" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colTwo">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-laptop"></i> <a href="/tags/4">Technology</a>
                        <a class="collapsed" data-toggle="collapse" href="#colThree" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colThree">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-medkit"></i> <a href="/tags/2">Health</a>
                        <a class="collapsed" data-toggle="collapse" href="#colThree" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colThree">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-users"></i> <a href="/tags/5">Celebrity</a>
                        <a class="collapsed" data-toggle="collapse" href="#colFour" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colFour">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-building"> </i> <a href="/tags/1">Jobs</a>
                        <a class="collapsed" data-toggle="collapse" href="#colFive" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colFive">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-bitbucket"></i> Accessories
                        <a class="collapsed" data-toggle="collapse" href="#colSix" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colSix">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <i class="fa fa-coffee"></i> Offer
                        <a class="collapsed" data-toggle="collapse" href="#colSeven" data-parent="#accrodian"></a>
                      </h4>
                    </div>
                    <div class="panel-collapse collapse" id="colSeven">
                      <div class="panel-body">
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-1</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-2</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i> Categori-3</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>