<div class="slider-area">
  <div class="main-slider">
    <div class="slider">

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                  <div class="slider-progress"></div> 
               <div class="cap-readmore animated bounceIn" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <a ></a>
                      </div>   
  <!-- Indicators -->
  <ol class="carousel-indicators">
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_400,w_800/zk4kgslei0a0bzhglijz.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>Most Latest Jobs</h2>
  </div>
  <p>Get the Best jobs.</p>
        <h6>Jobs</h6>
       <p class="view-details">
                  <a href="#">More...</a>
                </p>
      </div>
    </div>

    <div class="item">
      <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_400,w_800/celebrity.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>All Celebrity News</h2>
  </div>
  <p>Who is hitting the head of the media.</p>
        <h6> Celebrity</h6>
         <p class="view-details">
                  <a href="#">More...</a>
                </p>
      </div>
    </div>

    <div class="item">
    <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_400,w_800/fashion.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>Get all fashion</h2>
  </div>
  <p>fashion and design industry.</p>
        <h6> Fashion</h6>
         <p class="view-details">
                  <a href="#">More...</a>
                </p>
      </div>
    </div>

    <div class="item">
     <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_400,w_800/football.jpg")%>
      <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>What's in your football news?</h2>
  </div>
  <p>Latest in sports</p>
        <h6> Sports</h6>
         <p class="view-details">
                  <a href="#">More...</a>
                </p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  
</div>
</div>
</div>
</div>
</div>