
<div class="navbar-more-overlay"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top animate">
    <div class="container navbar-more visible-xs">   
      <ul class="nav navbar-nav">
        <li>
          <a href="/tags/3">
            <span class="menu-icon fa fa-futbol-o"></span>
            Sports
          </a>
        </li>
        <li>
          <a href="/tags/4">
            <span class="menu-icon fa fa-laptop"></span>
           Technology
          </a>
        </li>
        <li>
          <a href="/tags/2">
            <span class="menu-icon fa fa-medkit"></span>
           Health
          </a>
        </li>
        <li>
          <a href="/tags/5">
            <span class="menu-icon fa fa-users"></span>
            Celebrity
          </a>
        </li>
        <li>
          <a href="/tags/1">
            <span class="menu-icon fa fa-picture-o"></span>
           Jobs
          </a>
        </li>
        
      </ul>
    </div>
    <div class="container">
      <div class="navbar-header hidden-xs">
        <a class="navbar-brand" href="#">ThinQBT</a>
      </div>

      <ul class="nav navbar-nav navbar-right mobile-bar">
        <li>
          <a href="/">
            <span class="menu-icon fa fa-home"></span>
            Home
          </a>
        </li>
        <li>
          <a href="/">
            <span class="menu-icon fa fa-info"></span>
            <span class="hidden-xs">About</span>
            <span class="visible-xs">About</span>
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <span class="menu-icon fa fa-picture-o"></span>
          News
          </a>
        </li>
        <li>
          <a href="/services">
            <span class="menu-icon fa fa-laptop"></span>
          Services
          </a>
        </li>
        <li class="hidden-xs">
          <a href="/posts">
            <span class="menu-icon fa fa-edit"></span>
            Posts
          </a>
        </li>
        <li>
          <a href="/contact">
            <span class="menu-icon fa fa-phone"></span>           
            <span class="hidden-xs">Contact Us</span>
            <span class="visible-xs">Contact</span>
          </a>
        </li>
        <li class="visible-xs">
          <a href="#navbar-more-show">
            <span class="menu-icon fa fa-bars"></span>
            More
          </a>
        </li>
      </ul>
    </div>
  </nav>
