<div class="slider-area">
  <div class="main-slider">
    <div class="slider">

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                  <div class="slider-progress"></div> 
               <div class="cap-readmore animated bounceIn" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <a ></a>
                      </div>   
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <%=image_tag("http://res.cloudinary.com/hiohypxm9/image/upload/c_fill,h_400,w_800/nfkw3wic6hdijo7pymsg.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>BEST IN THE GAME</h2>
  </div>
  <p>BUGGATTI MENANCE.</p>
        <h6> 100% Upgrade</h6>
       <p class="view-details">
                  <a href="#">View details</a>
                </p>
      </div>
    </div>

    <div class="item">
      <%=image_tag("http://res.cloudinary.com/hiohypxm9/image/upload/c_fill,h_400,w_800/yzsduafmpu91lcgbmj3b.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>BEST IN THE GAME</h2>
  </div>
  <p>BUGGATTI MENANCE.</p>
        <h6> 100% Upgrade</h6>
       
      </div>
    </div>

    <div class="item">
    <%=image_tag("http://res.cloudinary.com/hiohypxm9/image/upload/c_fill,h_400,w_800/car6_gsotvk.jpg")%>
     <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>BEST IN THE GAME</h2>
  </div>
  <p>BUGGATTI MENANCE.</p>
        <h6> 100% Upgrade</h6>
       
      </div>
    </div>

    <div class="item">
     <%=image_tag("http://res.cloudinary.com/hiohypxm9/image/upload/c_fill,h_400,w_800/car8_dufah8.jpg")%>
      <div class="carousel-caption">
      <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
<h2>BEST IN THE GAME</h2>
  </div>
  <p>BUGGATTI MENANCE.</p>
        <h6> 100% Upgrade</h6>
       
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  
</div>
</div>
</div>
</div>
</div>
