<div class="support-area">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/football.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>Best Goals by Messi</h2>
                <p><a href="/posts/messi-top-gools-ever-02abb08d-e5a5-4717-983e-607092bbc3b3">Messi Best Goals Ever</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                 <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/health_living.jpg")%>
               
              </div>
              <div class="sigle-support-content">
                <h2>Healtly Living </h2>
                <p><a href="/posts/fast-simple-steps-to-loss-weight-quickly-proven-by-science">3 simple steps to lose weight quickly</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                 <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/job_search.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>Basic Tips to Job Searching</h2>
                <p><a href="/posts/basic-job-searching-tips-be-assured-for-a-job">Stop Job Searching, Start working</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 hidden-sm col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/onlinemoney.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>How to make money Online</h2>
                <p><p><a href="/posts/guidelines-on-how-to-make-money-online">Guidelines on how to make money online</a></p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
     
   