<div class="support-area">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/football.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>EPL Best gools so far</h2>
                <p>This are the best gools for the season</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                 <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/health_living.jpg")%>
               
              </div>
              <div class="sigle-support-content">
                <h2>10 Health Living tips </h2>
                <p>learn to live a healthy lifestyle</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                 <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/job_search.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>Tips to Job Searching</h2>
                <p>Stop job searching, start working</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 hidden-sm col-xs-12">
            <div class="single-support">
              <div class="sigle-support-icon">
                <%=image_tag("https://res.cloudinary.com/hkc0gq9vt/image/upload/c_fill,h_100,w_100/onlinemoney.jpg")%>
              </div>
              <div class="sigle-support-content">
                <h2>How to make money Online</h2>
                <p>Learn current ways to make real money online</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
     
   